/************* GENERELT ***************/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0.1px;
    padding: 0;
    line-height: 0;

}

footer {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #F1F2F2;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 20px;
}

/************* MENU ***************/

.hidden {
    transform: scale(0);
}


#menuknap {
    position: relative;
    display: inline-block;
    width: 3rem;
    font-size: 3rem;
    font-family: Montserrat;
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top right;
    position: absolute;
    background-color: #aaaaaa;
    min-width: 170px;
    z-index: 1;
    right: 1rem;
    top: 1.9rem;
}

#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    line-height: 3rem;
}


.siteheader {
    display: none;
}


header img {
    max-width: 50%;
    margin-left: 1rem;
    display: block;
}

.mobilenav {
    width: 100%;
    background-color: #F1F2F2;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

header {
    width: 100%;
    display: inline;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

/*************TABLET*****************/

@media only screen and (min-width:400px) {
    header img {
        max-width: 12rem;
        margin-left: 2rem;
    }
}

/*************DESKTOP*****************/

@media only screen and (min-width: 945px) {
    .mobilenav {
        display: none;
    }

    .dropdowndesktop {
        float: left;
        overflow: hidden;
    }

    .dropdowndesktop .portfolie {
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        color: white;
        padding-right: 1rem;
        text-align: right;
        border: none;
        outline: none;
        margin: 0;
        content: "\u2261";
        line-height: 1.2rem;
        background-color: #c9c9c9;
    }

    header .portfolie {
        margin: 0;
        padding: 0;

    }

    .dropdown-contentdesktop {
        display: none;
        position: absolute;
        background-color: darkgray;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-contentdesktop a {
        padding: 7px 10px;
        font-weight: 400;
        display: block;
        text-align: left;
        color: white;
    }

    .dropdown-contentdesktop a:hover {
        background-color: lightgrey;
    }

    .dropdowndesktop:hover .dropdown-contentdesktop {
        display: block;
    }

    header {
        width: 100%;
        display: inline;
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }

    header .siteheader {
        height: 60px;
        width: 100%;
        background-color: #c9c9c9;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        line-height: 1.2rem;
    }

    .siteheader a:hover {
        color: black;
    }

    header .portfolie:hover {
        color: black;
    }

    header nav a {
        text-decoration: none;
        padding-right: 1rem;
    }

    header a {
        line-height: 1.2rem;
        font-size: 22px;
    }

    header img {
        max-width: 15rem;
        margin-left: 3rem;
    }

    .siteheader nav {
        margin-right: 2.5rem;
        justify-content: space-between;
        align-items: center;
        line-height: 1.2rem;
    }
